<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.charging_systemConnectionString"
            connectionString="Data Source=.;Initial Catalog=charging_system;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
	  <!--用于实例化D层类-->
    <add key="DB" value="DAL" />
	  <!--用于实例化UI层窗体-->    
	  <add key="UI" value="UI"/>
	  <!--用于实例化BLL层类-->
	  <add key="FU" value="BLL"/>
    <!-- 这里的配置文件是用来连接数据库的。在XML配置文件中写入连接数据库的代码方便打包后其他电脑进行数据连接，
  其他电脑只需在这里把关键信息改变为他的数据库服务器地址和登录ID与密码即可，不再需要重新生成等操作 -->
    <add key="connStr" value="Server=.; Database=charging_system; User ID=sa; Password=123"/>
  </appSettings>
</configuration>